.idea
!/dist/
/dist/sigkerax-0.0.1.tar.gz
/dist/sigkerax-0.0.1-py3-none-any.whl
/dist/sigkerax-0.1.0.tar.gz
/dist/sigkerax-0.1.0-py3-none-any.whl
/dist/sigkerax-0.1.1.tar.gz
/dist/sigkerax-0.1.1-py3-none-any.whl
/dist/sigkerax-0.1.3.tar.gz
/dist/sigkerax-0.1.3-py3-none-any.whl
!/.pytest_cache/
/dist/sigkerax-0.1.4.tar.gz
/dist/sigkerax-0.1.4-py3-none-any.whl
