name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  run-test:
    strategy:
      matrix:
        python-version: [ 3.8, 3.9, 3.11 ]
        os: [ ubuntu-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install esig
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install esig[iisignature]

      - name: Install dependencies
        run: |
          python3 -m pip install -r ./tests/requirements.txt

      - name: Test with pytest
        run: |
          python3 -m pip install .
          pytest